{% extends 'base.html.twig' %}
{% block title %}{{ business_name ? business_name ~ ' - Input Pesanan' : 'Input Pesanan Catering Harian' }}{% endblock %}
{% block og_title %}{{ business_name ? business_name ~ ' - Input Pesanan' : 'Input Pesanan Catering Harian' }}{% endblock %}
{% block twitter_title %}{{ business_name ? business_name ~ ' - Input Pesanan' : 'Input Pesanan Catering Harian' }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/awesomplete.min.css">
    <link rel="stylesheet" href="/css/app/awesomplete.css?v={{ 'now'|date('U') }}">
    <link rel="stylesheet" href="/css/app/input-order.css?v={{ 'now'|date('U') }}">
    <link rel="stylesheet" href="/css/app/order.modal-summary.css?v={{ 'now'|date('U') }}">
{% endblock %}
{% block content %}
    <div class="page-header d-print-none">
        <div class="container-md">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle">Input</div>
                    <h2 class="page-title">New Order</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-md">
            <div class="row">
                <div class="col-12 col-sm-6">
                    {% include 'partials/_order_form_partial.html.twig' with { show_submit_button: true } %}
                </div>
            </div>
        </div>
    </div>
    {% include 'order-confirmation.html.twig' %}
    {% include 'toast.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/awesomplete.min.js"></script>
    <script type="module" src="/js/app/order-page.js?v={{ 'now'|date('U') }}"></script>
{% endblock %}